body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

                /* Header & Navbar - Start */

.head-bar{
    width: 1fr;
    height: 70px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 2px 30px rgb(207, 207, 207);

}

.h-bar{
    width: 1150px;
    display: flex;
    align-items: center;
}

.navbar{
    margin-left: 25%;
}

nav .main-ul{
    display: flex;
    align-items: center;
    
}

nav .main-ul .p-li:first-child a{
    color: rgb(132, 144, 255);
}

nav ul{
    list-style-type: none;
}

nav li{
    margin-left: 30px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
}

nav li a:hover{
    color: rgb(132, 158, 255);
}

.sub-ul-1{
    
    width: 0px;
    height: 0px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    padding: 14px 0;
    line-height: 30px;
    box-shadow: 2px 2px 10px gray;
    overflow: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}


.sub-ul-1 li{
    margin-left: 20px;
}



.navbar .main-ul .p-li:nth-child(6):hover .sub-ul-1{
    opacity: 1;
    width: 200px;
    height: fit-content;
    position: absolute;
    top: 70px;
    right: 565px;
    background-color: white;
    padding: 14px 0;
    line-height: 30px;
    box-shadow: 2px 2px 10px gray;
    
}

.sub-ul-2{
    opacity: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 70px;
    right: 0px;
    overflow: hidden;
    background-color: white;
    padding: 14px 0;
    line-height: 30px;
    box-shadow: 2px 2px 10px gray;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.sub-ul-2 li{
    margin-left: 20px;
}

.navbar .main-ul .p-li:nth-child(7):hover .sub-ul-2{
    opacity: 1;
    width:200px;
    height: fit-content;
    position: absolute;
    top: 70px;
    right: 475px;
    overflow: visible;
    background-color: white;
    padding: 14px 0;
    line-height: 30px;
    box-shadow: 2px 2px 10px gray;
}

.sub-child-ul{
    opacity: 0;
    width:200px;
    position: absolute;
    top: 0px;
    right: 201px;
    background-color: white;
    padding: 14px 0;
    line-height: 30px;
    box-shadow: 2px 2px 10px gray;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.navbar .main-ul .p-li:nth-child(7) .sub-ul-2 li:nth-child(2):hover .sub-child-ul{
    opacity: 1;
    width:200px;
    position: absolute;
    top: 50px;
    right: 201px;
    background-color: white;
    padding: 14px 0;
    line-height: 30px;
    box-shadow: 2px 2px 10px gray;
}

                /* Header & Navbar - End */

                /* Hero Area - Start */

.hero-area-bg{
    width: 1fr;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: rgb(249, 249, 255);
}


.hero-area{
    width: 1150px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(249, 249, 255);
}

.hero-image{
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero-text span{
    font-family: sans-serif;
}

.hero-text h1{
    font-size: 55px;
    font-family: sans-serif;
    margin: 15px 0 0 0;
    color: rgb(34, 34, 34);
}

.hero-text p{
    font-size: 16px;
    line-height: 23px;
    font-family: sans-serif;
    color: rgb(131, 133, 132);
}

.b1{
    font-size: 15px;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    color: white;
    background: linear-gradient(to right, rgb(132, 145, 255), rgb(98, 188, 252));
    transition-property: all;
    transition-delay: 0.2s;
    transition-timing-function: linear;
}

.b1:hover{
    box-shadow: 0 8px 12px rgb(175, 172, 172);
}


                /* Hero Area - End */

                /* About Area - Start */ 

.about-sec{
    width: 1fr;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 95px;
}

.img-abt{
    display: flex;
    height: 400px;
}

.img-abt img{
    transform: scale(0.99);

}


.about-area{
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-text span{
    font-family: sans-serif;
    font-size: 14px;
}

.about-text h2{
    font-family: sans-serif;
    font-size: 35px;
}

.about-text p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: rgb(131, 133, 132);
}

.about-btn{
    margin-top: 13px;
    padding: 12px 28px;
    border: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, rgb(131, 144, 254), rgb(99, 189, 253));
    transition-property: all;
    transition-delay: 0.2s;
    transition-timing-function: linear;
}

.about-btn:hover{
    box-shadow: 0 6px 10px gray;
}

                /* About Area - End */

                /* Offer Section - Start */

.my-offer{
    width: 1fr;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 40px;
}

.my-offer-box{
    width: 1150px;

}

.offer-head-text{
    text-align: center;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.offer-head-text h2{
    font-size: 35px;
    margin-bottom: 0;
}

.offer-head-text p{
    font-size: 15px;
    color: rgb(131, 133, 132);
}

.all-offers{
    width: 1150px;
    display: flex;
}

.all-offers .box{
    width: 380px;
    height: 200px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.all-offers i{
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(76, 76, 76);
}

.all-offers b{
    font-size: 18px;
    margin-bottom: 10px;
}

.all-offers .box p{
    font-size: 15px;
    color: rgb(131, 133, 132);
    margin: 0 0 50px 0;
    line-height: 23px;
}

.box:hover i, .box:hover b{
    color: rgb(132, 144, 255);
}

                /* Offer Section - End */

                /* Number Count - Start */

.nb-bg{
    width: 1fr;
    height: 320px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    background: linear-gradient(to right, rgb(132, 144, 255), rgb(98, 189, 252));

}

.nb-box{
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.box-body{
    font-family: sans-serif;
    color: white;
}

.box-body span{
    font-size: 40px;
    font-weight: bold;
}

.box-body p{
    font-size: 15px;
    margin-top: 5px;
}

                /* Number Count - End */

                /* Project Menu - Start */

.proj-bg{
    width: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    margin-top: 70px;
}

.proj-title{
    width: 1150px;
    margin-bottom: 55px;
}

.proj-title h2{
    font-size: 35px;
    margin-bottom: 0;
}

.proj-title p{
    font-size: 14px;
    color: rgb(131, 133, 132);
}

.proj-catt{
    width: 1150px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
}

.proj-catt ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.proj-catt ul li{
    margin-left: 15px;
}

.proj-bg-main{
    width: 1150px;
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-text-box .text-box h3{
    margin-bottom: 5px;
}

.text-box span{
    font-size: 15px;
    color: rgb(131, 133, 132);
}


.img-box{
    position: relative;
}

.overlay{
    display: none;
}


.img-text-box:hover .overlay{
    width: 340px;
    height: 339px;
    background: linear-gradient(to right, rgb(150, 158, 237), rgb(119, 195, 225));
    opacity: 0.9;
    border-radius: 10px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

                /* Project Menu - End */

                /* Client Menu - Start */

.client-bg{
    width: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 130px 0 100px 0;
    padding: 100px 0 135px 0;
    background-color: rgb(249, 249, 255);
}

.client-title{
    width: 1150px;
    text-align: center;
    margin-bottom: 55px;
}

.client-title h2{
    font-size: 35px;
    margin-bottom: 0;
}

.client-title p{
    font-size: 15px;
    color: rgb(131, 133, 132);
    margin-top: 8px;
}

.client-rv-bg{
    display: flex;
    justify-content: space-between;
    width: 1150px;
}

.client-rv-1, .client-rv-2{
    display: flex;
    background-color: white;
    padding: 30px;
}

.rv-img{
    width: 50px;
    height: 50px;
    transform: scale(0.7);
    margin: 10px 20px 0 0;
}

.rv-text p{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    color: rgb(131, 133, 132);
}

.rv-text h3{
    font-size: 18px;
    margin-bottom: 6px;
}

.rv-text span{
    font-size: 15px;
    color: rgb(131, 133, 132);
}


.client-rv-1:hover, .client-rv-2:hover .rv-text h3{
    color: rgb(132, 144, 255);
}

                /* Client Menu - End */

                /* Plans Menu - Start */

.plan-bg{
    width: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 110px;
}

.plan-title{
    width: 1150px;
    font-family: sans-serif;
    margin-bottom: 65px;
}

.plan-title h2{
    font-size: 40px;
    margin-bottom: 0;
}

.plan-title p{
    color: rgb(131, 133, 132);
}

.plan-body{
    width: 1150px;
    display: flex;

}

.plan-box{
    width: 300px;
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    background-color: rgb(249, 249, 255);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.inside-circle{
    width: 80px;
    height: 80px;
    margin-top: 35px;
    border: 30px solid rgb(226, 229, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-circle span{
    font-size: 40px;
    font-family: sans-serif;
}

.plan-name{
    margin-bottom: 15px;
}

.plan-name p, .lines{
    font-size: 15px;
    color: rgb(131, 133, 132);
}

.plan-name h3{
    margin-bottom: 0;
}

.plan-name p{
    margin-top: 8px;
}


.lines p:nth-child(1){
    width: 245px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(233, 231, 231);
    margin-bottom: 0;
    padding-top: 5px;
    
}

.lines p:nth-child(2){
    width: 245px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(233, 231, 231);
    border-bottom: 1px solid rgb(233, 231, 231);
    margin: 5px 0;
    padding: 5px 0;
}

.lines p:nth-child(3){
    width: 245px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(233, 231, 231);
    margin-top: 0;
    padding-bottom: 5px;
}

.price{
    font-size: 25px;
}

.buy-btn button{
    padding: 14px 97px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    display: none;
}

.plan-box:hover{
    background: linear-gradient(to right, rgb(131, 144, 255), rgb(98, 188, 252));
    color: white;
    transform: scale(1.08);
    z-index: 1;
}

.plan-box:hover .price h2{
    display: none;
}

.plan-box:hover .buy-btn button{
    display: inline-block;
}

.plan-box:hover .lines{
    color: white;
}

.plan-box:hover .plan-name p{
    color: white;
}

.plan-box:hover .inside-circle{
    border: 30px solid rgb(226, 229, 255, 0.5);
}

                /* Plans Menu - End */

                /* Blog Section - Start */

.blog-main-bg{
    width: 1fr;
    background-color: rgb(249, 249, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 80px 0 150px 0;
}

.blog-menu-title{
    width: 1150px;
    text-align: center;
    margin-bottom: 60px;
}


.blog-menu-title h2{
    font-size: 40px;
}

.blog-menu-title p{
    color: rgb(131, 133, 132);
}

.blogs-bg{
    width: 1150px;
    display: flex;
    justify-content: space-between;

}

.blog-box{
    width: 360px;
}

.blog-img{
    width: 360px;
    height: 214px;
    overflow: hidden;
}

.blog-img img{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.blog-info-1 img{
    width: 30px;
    height: 30px;
}

hr{
    opacity: 0.3;
}

.blog-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
    font-size: 15px;
}

.blog-info-1{
    display: flex;
    align-items: center;
}

.blog-info-1 span{
    margin: 0 10px;
}

.blog-info-2{
    color: rgb(131, 133, 132);
}

.blog-info-2 i{
    margin-left: 10px;
}

.caption-body h3{
    font-size: 18px;
}

.caption-body p{
    font-size: 16px;
    line-height: 22px;
    color: rgb(131, 133, 132);
}

.blog-box:hover .caption-body h3{
    color: rgb(132, 144, 255);
}

.blog-box:hover .blog-img img{
    transform: scale(1.1);
}

                /* Blog Section - End */


                /* Brand Section - Start */

.brand-main-bg{
    width: 1fr;
    height: 250px;
    background: linear-gradient(to right, rgb(132, 144, 255), rgb(98, 189, 252));
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-bg{
    width: 1150px;
}

.brand-bg a{
    margin-right: 80px;
}

.brand-bg img{
    opacity: 0.5;
}

.brand-bg img:hover{
    opacity: 1;
}


                /* Brand Section - End */


                /* Footer Section - Start */

footer{
    width: 1fr;
    font-family: sans-serif;
    background-color: rgb(4, 9, 30);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bg{
    width: 1150px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.footer-bg h4{
    font-size: 18px;
}

.footer-bg p{
    font-size: 14px;
    line-height: 22px;
    color: rgb(206, 206, 206);
}

.abt-me p a{
    text-decoration: none;
    color: rgb(132, 144, 255);
}

.news form .emal{
    width: 350px;
    height: 35px;
    padding: 0 10px 0 15px;
    font-size: 15px;

}

.news form .emal:focus{
    outline: none;
}

form .sub{
    width: 45px;
    height: 38.97px;
    font-size: 20px;
    background-color: rgb(132, 144, 255);
    color: white;
    padding: 0;
    border: none;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials i{
    color: white;
    margin-right: 10px;
}

.socials i:hover{
    color: rgb(132, 144, 255);
}

                /* Footer Section - End */








                /* Responsive with Media - Start */



    /* For Laptop - Start */

@media (min-width: 1270px) and (max-width: 1350px){
    .navbar .main-ul .p-li:nth-child(6):hover .sub-ul-1{
        right: 240px;
        
    }

    .navbar .main-ul .p-li:nth-child(7):hover .sub-ul-2{
        right: 155px;
    }

}

    /* For Laptop - End */

    /* For Phone - Start */

@media (min-width: 365px) and (max-width: 390px){

    body{
        width: 1fr;
        overflow-x: hidden;
    }


        /* Header & Navbar - Start */

    .logo{
        position: absolute;
        left: 20px;
    }

    .navbar{
        display: none;
    }

            /* Header & Navbar - End */

            /* Hero Area - Start */

    .hero-area-bg{
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-area{
        width: 90%;
        height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
    }

    .hero-text span{
        font-size: 15px;
    }

    .hero-text h1{
        font-size: 30px;
    }

    .hero-text p{
        font-size: 15px;
    }

    .hero-image{
        transform: scale(0.5);
        position: absolute;
        top: 210px;
        right: -25%;
        margin-top: 30px;
    }
    
        /* Hero Area - End */

        /* About Area - Start */

    .about-sec{
        width: 1fr;
        height: 615px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .about-area{
        width: 90%;
        height: 615px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .img-abt{
        width: 347px;
        height: 246px;
        padding-bottom: 25px;

    }

    .img-abt img{
        width: 347px;
        height: 246px;
    }

    .about-text h2{
        font-size: 19px;
        padding-top: 10px;
    }

    .about-text p{
        font-size: 14px;
        padding-top: 20px;
    }

        /* About Area - End */

        /* Offer Section - Start */

    .my-offer{
        width: 1fr;
        height: 1575px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }

    .my-offer-box{
        width: 90%;
        height: 1575px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .offer-head-text{
        height: 130px;
    }

    .all-offers{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }

        /* Offer Section - End */

        /* Number Count - Start */

    .nb-bg{
        padding: 120px 0;
        width: 1fr;
        height: fit-content;
    }

    .nb-box{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        /* Number Count - End */

        /* Project Menu - Start */

    .proj-bg{
        width: 1fr;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .proj-title, .proj-catt ul{
        width: 90%;
    }

    .proj-bg-main{
        width: 90%;
        height: 2550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

        /* Project Menu - End */

        /* Client Menu - Start */

    .client-bg{
        width: 1fr;
    }

    .client-title{
        width: 90%;
    }

    .client-rv-bg{
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .client-rv-1, .client-rv-2{
        width: 75%;
    }

    

        /* Client Menu - End */

        /* Plans Menu - Start */

    .plan-bg{
        width: 1fr;
        height: fit-content;
    }

    .plan-title{
        width: 90%;
    }

    .plan-body{
        width: 90%;
        height: 2250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

        /* Plans Menu - End */

        /* Blog Section - Start */

    .blog-menu-title{
        width: 90%;
    }

    .blogs-bg{
        width: 90%;
        height: 1450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .blog-box{
        width: 100%;
    }

    .blog-img, .blog-img img{
        width: 325.8px;
    }

     /* Blog Section - End */

     /* Brand Section - Start */

    .brand-main-bg{
        width: 1fr;
    }

    .brand-bg{
        width: 100%;
    }

     /* Brand Section - End */

     /* Footer Section - Start */

    .footer-bg{
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px 0 50px 0;
    }

    .news form .emal{
        width: 250px;
    }



     /* Footer Section - End */


}

    /* For Phone - End */



                /* Responsive with Media - End */